<div style="display: flex;">
    <button pButton type ="button"
    style="margin-left: auto;"
    class="p-button-raised p-button-lg"
    (click)="toggleInputBox()"
    icon="pi pi-plus">
    </button>
</div>


<div id="project-input-box" (keydown.escape)="hideInputBox()">
    <p-card>
        <!-- input box -->
        <div (keydown.enter)="add(projectName.value, projectDescription.value)"
        style="display: flex; flex-direction: column; gap: 1em;">

         <label for="project-input-name"><i>Project's title</i></label>
         <input 
             id="project-input-name" 
             type="text" 
             pInputText
             autocomplete="off"
             #projectName
             >

         <label for="project-input-description"><i>Project's description</i></label>
         <input  
             id="project-input-description" 
             type="text" 
             pInputText
             #projectDescription
         >
         
         <!-- add button -->
         <div style="display:flex; justify-content: space-between;">
             <button 
             pButton 
                 label="Add"
                 type="button"
                 class="p-button-success"
                 
                 (click)="add(projectName.value, projectDescription.value)">
             </button>

             <button 
                 pButton
                 type="button"
                 label="Cancel"
                 class="p-button-secondary"
                 (click)="hideInputBox()">
             </button>
         </div>
     <p-messages></p-messages>

     </div>
    </p-card>
</div>


