<button pButton type ="button"
    label="New Project"
    style="margin-bottom: 1em;"
    class="p-button-raised"
    (click)="toggleInputBox()"></button>

<div id="project-input-box" (keydown.escape)="hideInputBox()">
    <nb-card>
        <nb-card-body>
           <!-- input box -->
           <div (keydown.enter)="add(projectName.value, projectDescription.value)"
           style="display: flex; flex-direction: column; gap: 1em;">

            <label for="project-input-name">Project's title</label>
            <input 
                id="project-input-name" 
                type="text" 
                pInputText
                autocomplete="off"
                #projectName
                >

            <label for="project-input-description">Project's description</label>
            <input  
                id="project-input-description" 
                type="text" 
                pInputText
                #projectDescription
            >
            

            <!-- add button -->
            <div style="display:flex; justify-content: space-between;">
                <button 
                pButton 
                    label="Add"
                    type="button"
                    class="p-button-success"
                    (click)="add(projectName.value, projectDescription.value)">
                </button>

                <button 
                    pButton
                    type="button"
                    label="Cancel"
                    class="p-button-secondary"
                    (click)="hideInputBox()">
                </button>
            </div>
        <p-messages></p-messages>

        </div>
        </nb-card-body>
    </nb-card>
</div>


