<div class="flex justify-content-center">
    <p-messages></p-messages>
</div>

<div class="flex justify-content-center">
    <p-card>
        
        <div style="width: 25em; gap: 2em;" class="p-inputgroup flex-column" (keydown.enter)="loginUser()">
            <span class="p-float-label">
                <input id="email-input" type="email" pInputText [(ngModel)]="email"> 
                <label for="email-input">Email</label>
            </span>

            <span class="p-float-label">
                <input id="password-input" type="password" pInputText [(ngModel)]="password"> 
                <label for="password-input">Password</label>
            </span>

            <div class="flex justify-content-between">
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="rememberUser" [binary]="true" inputId="binary"></p-checkbox>
                    <label for="binary"> Remember me</label>
                </div>
                <div>
                    <a href="/home"> Forgot password? </a>
                </div>
            </div>

            <div class="p-fluid">
                <p-button (click)="loginUser()" label="Sign in"></p-button>
            </div>

            <div>
                <p>
                    Sign in with
                </p>
                <button (click)="loginUserWithGoogle()"
                icon="pi pi-google" pButton pRipple type="button" label="Google" class="p-button-outlined p-button-secondary"></button>
            </div>
            

            <div>
                <span> Don't have an account yet? </span>
                <a [routerLink]="['/signup']" > Register now </a>
            </div>
        </div>
    </p-card>
</div>

    
