<p-accordion>
  <p-accordionTab>
    <ng-template pTemplate="header">{{project.name}}</ng-template>
    
    <ng-template pTemplate="content">
      <div style="
                display: flex;
                flex-direction: column;
                gap: 1em;">
        <div>{{ project.description }}</div>
        <app-project-detail [project]="project"></app-project-detail>
        
        <div style="display: flex;">
          <button style="margin-left: auto;" pButton type="button" label="Delete" (click)="deleteProject()" class="p-button-rounded p-button-danger"></button>
        </div>
      </div>
    </ng-template>
  </p-accordionTab>
</p-accordion>  

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
