<p-panel header={{project.title}} [toggleable]="true" [collapsed]="true" (onBeforeToggle)="showDetails()">
    <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon">
              <span class="p-link pi pi-cog" (click)="menu.toggle($event)"></span>
            </button>
            
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>

    <app-project-detail *ngIf="detailShown" [project]="project"></app-project-detail>    

</p-panel>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

